body {
    background: #f6f8fc;
}
th {
    position: relative;
}
nav.navbar-themeColor {
    background: #fff;
    border-bottom: 1px solid #dedede;
    margin: 0 0 30px;
}
nav.navbar-themeColor a.navbar-brand {
    color: #fff;
}
nav.navbar-themeColor a.navbar-brand img {
    height: 30px;
}
.customMenu ul.mainMenu li a {
    color: #333;
    padding: 1rem;
    display: block;
    text-decoration: none;
}
.customMenu {
    margin-bottom: 30px;
}
.customMenu ul.mainMenu {
    font-size: 14px;
}
.customMenu ul.mainMenu {
    border: 0;
}
.customMenu ul.mainMenu li a.active {
    background: #fff;
}
.customMenu .mainMenuSub > div {
    background: #fff;
}
.customMenu .mainMenuSub ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.customMenu .mainMenuSub ul li {
    display: inline-block;
    font-size: 14px;
}
.customMenu .mainMenuSub ul li a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 1rem;
}
.lifetimeSale, .averageOrders, .updatedOrders, .dashNewCustomer {
    background: #fff;
    margin-bottom: 30px;
    padding: 15px;
}
.updatedOrders table, .dashNewCustomer table {
    font-size: 12px;
    margin: 0;
}
h1.titleDashboard {
    font-size: 16px;
    color: #000;
    font-weight: normal;
    margin: 0 0 10px;
    padding: 10px 15px;
    background: #72ff9e;
}
.lifetimeSale p,.averageOrders p {
    margin: 0;
    font-size: 30px;
    font-weight: 500;
}
tr.haveEvent {
    cursor: pointer;
}
.bestSellerBody {
    padding: 15px;
    background: #fff;
}
.bestSellerBody table {
    margin: 0;
    font-size: 12px;
}
.bestSellerBody h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 15px;
    text-transform: uppercase;
}
.bestSellerBody .table th, .bestSellerBody .table td, .dashNewCustomer .table td, .dashNewCustomer .table th, .updatedOrders .table td, .updatedOrders .table th {
    padding: 7px;
}
select#webPicker {
    padding: 0.3rem 2rem 0.4rem 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    vertical-align: middle;
    border: none;
    font-size: 14px;
    border-bottom: 1px solid #dedede;
}
.selectWeb {
    position: relative;
}
.selectWeb:before {
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 0;
    font-weight: 900;
    bottom: 0;
    right: 1rem;
    margin: auto;
    font-size: 20px;
    width: 11px;
    height: 30px;
    display: block;
    z-index: 999;
    color: #6b6a6a;
}
button.btn.btn-selectWeb {
    font-size: 12px;
    padding: .2rem 1rem;
    background: #6fefae;
    outline: none;
    border: 0;
}
tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}
table.dataTable {
    font-size: 12px;
}
div#orderTable_length {
    float: left;
}
.dt-buttons:before {
    content: "Export To";
    display: block;
    margin: 0 0 10px;
}
.dt-buttons {
    border: 1px solid #dedede;
    padding: 15px;
    margin: 0 0 20px;
    background: #ffff;
}
.dt-buttons .dt-button {
    background: #97d8f7;
    border: 0;
    padding: 5px 20px;
    color: #ffff;
}
tr[title] {
    cursor: pointer;
}
.orderSummary {
    font-size: 14px;
    color: #434343;
    padding: 20px;
    margin: 0 0 30px;
    background: #fff;
}
h1.orderTitle {
    margin: 0 0 10px;
    padding: 0 0 10px;
    border-bottom: 1px solid #dedede;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.orderTab {
    padding: 50px;
    background: #fff;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
h1.orderSubTitle {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.orderItemDetails div {
    font-size: 12px;
    width: 50%;
    display: inline-block;
    color: #757575;
}
.orderItemDetails {
    font-size: 0;
}
.orderCommentSec {
    padding: 20px;
    border: 1px solid #dedede;
}
.orderCommentSec p {
    margin: 0 0 5px;
    font-size: 14px;
}
p.orderCommentTit {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.orderCommentList {
    padding: 15px 0;
}
.orderCommentList .orderCommentItem {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #dedede;
}
.orderCommentList .orderCommentItem p {
    font-weight: bold;
    margin: 0;
}
.orderCommentList .orderCommentItem span {
    font-size: 12px;
    display: block;
}